.content {
    padding: 20px; 
    width: 50%;
    margin: auto; 
    border: 2px solid blue;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    color: black;
    transition: color 0.3s ease, font-size 0.3s ease;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    }

    h1:hover {
        color: red;
    }

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    }
    button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

input,select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    }
    input:focus {
        border-color: #007BFF;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

body {
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: Arial, sans-serif;
    color: #333;
}

label {
font-weight: bold;
display: block;
margin-bottom: 5px;
}

/* Estilo para el botón de listar usuario */
.button-list {
    background-color: #28a745; /* Verde */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
}

.button-list:hover {
    background-color: #218838; /* Verde oscuro */
    transform: scale(1.05);
}

